A,
A.more,
A.hdline {
  color: #11a0a0;
  text-decoration: none;
}

header {
  position: relative;
  background-color: white;
  border: 0px #ccc;
  padding: 20px;
}


.box-header {
  color: #8b0404;
}

select.box {
  width:  relative;/* Adjust the width as needed */
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 13px;
}

/* Style the options */
select.box option {
  font-size: 14px;
  background-color: #fff; /* Background color of options */
  color: #333; /* Text color of options */
}

/* Style the selected option */
select.box option:checked {
  background-color: #007bff; /* Background color of the selected option */
  color: #fff; /* Text color of the selected option */
}

.box {
  font-size: 9pt;
  border-top: .5pt solid #004090;
  border-right: .5pt solid #004090;
  border-bottom: .5pt solid #004090;
  border-left: .5pt solid #004090;
  background-color: white;
  transition: background 0.2s linear;
  white-space: nowrap;
}

.divarea {
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

.blank {
  color: #000000;
  font-size: 9pt;
  border-top: 0pt;
  border-right: 0pt;
  border-bottom: 0pt;
  border-left: 0pt;
  background-color: white;
  transition: background 0.2s linear;
}

.cal {
  color: #000000;
  font-size: 9pt;
  border-top: 0pt;
  border-right: 0pt;
  border-bottom: 0pt;
  border-left: 0pt;
  background-color: white;
}

.ships {
  color: #c51d1d;
  border-top: .5pt solid blue;
  border-right: .5pt solid blue;
  border-bottom: .5pt solid blue;
  border-left: .5pt solid blue;
  background-color: white;
}

.timer {
  color: #dd6633;
  border-top: .5pt solid orange;
  border-right: .5pt solid orange;
  border-bottom: .5pt solid orange;
  border-left: .5pt solid orange;
  background-color: white;
}

footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px;
}